<div class="container">
  <h1>Add Note</h1>
  <%= form_for :note, url: notes_path do |form| %>
    <p>
      <%= form.label :noteText, 'Note' %><br>
      <%= form.text_area(:noteText, { :class => 'form-control'}) %>
    </p>
    <%= form.submit({ :class => 'btn btn-primary'}) %>
  <% end %>
</div>